@using System.Xml.Linq
@using Tad.ContentSync.Extensions
@using Tad.ContentSync.Models
@using Tad.ContentSync.Comparers
@model Tad.ContentSync.Models.OverviewViewModel
@{
    Style.Require("jQueryUI_Orchard").AtHead();
    Script.Require("jQueryUI_Dialog").AtHead();
    Script.Require("SyncDashboard").AtHead();
    Script.Require("PrettyDiff").AtFoot();

    Layout.Title("Synchronise content with " + Model.RemoteServerUrl);
}

<fieldset class="contentItems bulk-items" style="font-size: 10pt">
    <ul>
        <li><a href="@Url.Action("Comparison", "Admin", new {area="Tad.ContentSync",type="Mismatches"})">@Model.Mismatches.Sum(c=>c.Count()) Mismatches</a></li>
    <li><a href="@Url.Action("Comparison", "Admin", new {area="Tad.ContentSync",type="Differences"})">@Model.Different.Sum(c => c.Count()) Different Items</a></li>
    <li><a href="@Url.Action("Comparison", "Admin", new {area="Tad.ContentSync",type="LocalOnly"})">@Model.LocalOnly.Sum(c=>c.Count()) Local Only</a></li>
    <li><a href="@Url.Action("Comparison", "Admin", new {area="Tad.ContentSync",type="RemoteOnly"})">@Model.RemoteOnly.Sum(c=>c.Count()) Remote Only</a></li>
    </ul>
</fieldset>
