<style>
    contentItems a { font-size: 10pt;}
</style>

<fieldset class="contentItems bulk-items" style="font-size:10pt">
    @foreach(var syncMap in Model) {
        <div style="border:2px solid red">
            balanced: @syncMap.Balanced, equal: @syncMap.Equal
            @if (syncMap.Balanced && !syncMap.Equal) {
                @Display(syncMap.Local.Shape)
                if (syncMap.Remote != null) {
                    <select name="action-@syncMap.Identifier">
                        <option value="ignore">Ignore</option>
                        <option value="push">Push</option>
                    </select>
                }
            }
            else if (syncMap.Similar != null) {
                <select name="action-@syncMap.Identifier">
                    <option value="ignore">Ignore</option>
                    @foreach (var similar in syncMap.Similar) {
                        <option value="replace-@similar.Shape.Identifier">Replace remote @Display(similar.Shape)</option>
                    }
                </select>
            }
            
            @if (syncMap.Local != null) {
                <div>LOCAL: @Display(syncMap.Local.Shape)</div>
            }
            @if (syncMap.Remote != null) {
                <div>REMOTE: @Display(syncMap.Remote.Shape)</div>
            } else if (syncMap.Similar != null) {
                foreach(var similar in syncMap.Similar) {
                    <div>Similar: @Display(similar.Shape)</div>
                }
            }
        </div>
    }
</fieldset>
